<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>board</title>
  <link rel="stylesheet" href="board.style.css">
</head>
<body>
  Welcome to board! Post your posts here.
  <div class="board-header">Boards</div>
  <div class="board">
    <a href="board/mlp">Pony</a>
  </div>
</body>
</html>