<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>/mlp/-Pony</title>
  <link rel="stylesheet" href="/mlp.css">
  <script src="/mlp.js" defer></script>
</head>
<body>
  <div class="board-header">/mlp/-Pony</div>
  <input type="text" id="title" placeholder="title">
  <input type="text" id="content" placeholder="content">
  <button onclick="newThread()">Start a new Thread</button>
  <div id="posts-container"></div>

</body>
</html>